<div class="container">
  <h1>Novo Campeonato</h1>
  
  <%= link_to 'â† Voltar', admin_championships_path, class: 'btn btn-secondary mb-3' %>
  
  <%= render 'form', championship: @championship %>
</div>
